.contact {
    padding: 40px 20px;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    resize: none;
    height: 150px;
  }
  
  .send-button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #8B687F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #00f2fe;
  }
  