.projects {
    padding: 40px 20px;
    color: #ffffff;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .projects p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .projects .project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .projects a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #8B687F;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .projects a:hover {
    background-color: #00f2fe;
  }
  